/* CSS is how you can add style to your website, such as colors, fonts, and positioning of your
   HTML content. To learn how to do something, just try searching Google for questions like
   "how to change link color." */

html, body {
    
}

html {
    display: table;
	scroll-behavior: smooth;
}

body {
  background-color: black;
  color: white;
  font-family: Verdana;
  
  display: table-cell;
  vertical-align: middle;
  
  overflow-x: hidden;
  height:100%;
}

/*links*/
a:link {
  color: #0f57ff;
  background-color: transparent;
  text-decoration: underline;
}

a:visited {
  color: #5324ff;
  background-color: transparent;
  text-decoration: underline;
}

a:hover {
  color: yellow;
  background-color: transparent;
  text-decoration: none;
}

/*preventing user selecting on images*/
img {  
   user-drag: none;  
   user-select: none;
   -moz-user-select: none;
   -webkit-user-drag: none;
   -webkit-user-select: none;
   -ms-user-select: none;
}

/*general*/
#muteButton {
	position: fixed;
	height:20vh;
	top: 0vw;
	right:0vw;
	
	cursor: pointer;
	z-index: 3;
}

.category {
  position:relative;
  height: 100vh;
  width: 100vw;
  overflow: clip;
}

.container{
	position: absolute;
	width:fit-content; 
	height:fit-content;
}

.background{
  position:absolute;
  width:100vw;
  height: auto;
}

.margins{
	margin: 1vh 1vw;
}

/*satasiteLanding*/
#satasiteLogo {
  position: absolute;
  height:17vh;
  top: 40vh;
  left: 5vw;
}

#arrow{
  position: fixed;
  top: 85vh;
  left: 42vw;
  width:15vw;
  height:auto;
  
  cursor: pointer;
  z-index:3;
}

.links {
	position: absolute;
	top: 56vh;
	left:5vw;
	height:10vh;
}

/*sataSightings*/
#sataSightingHeader{
	position:absolute;
	z-index:1;
	top:0vh;
	font-size:10vh;
	font-family: 'VT323', monospace;
	background-color: black;
}

#sataSonar{
	position: absolute;
	bottom:2vh;
	left:2vw;
	width:auto;
	height:40vh;
}

/*sataTV*/
#pikachu{
	position: absolute;
	right: 0%;
	bottom: 0%;
	height: auto;
	width: 43%;
	z-index: 2;
}

#notification{
	position: absolute;
	top: 7%;
	left: 50%;
	height:10%;
	z-index: 2;
	
	transform: translate(-50%, -50%);
	-webkit-transform: translate(-50%, -50%);
}

#videoArchiveBackground{
	position:relative;
	z-index: 1;
}


.videoLayer {
	position: absolute;
	z-index: 0;
	
	transform:perspective(200px) rotateY(2.2deg);
	-webkit-transform:perspective(200px) rotateY(2.2deg);
	
	object-fit: fill;
	height: calc(47vw * 0.75);
	width: 47vw;
	top: calc(20% - 10px);
	left: 18.5%;
}

/*sataCredits*/
#creditsDragbar{
	height:1vh;
	width:100vw;
	
	cursor: row-resize;
}

#creditsTitle{
	position: absolute;
	height:20vh;
	top: 5vh;
	left: 34vw;
}

#creditsBackground{
	position:absolute;
}

.mutuals{
	height:auto;
	width:auto;
}

.creditsBox{
	position:absolute;
	top:30vh;
	height:65vh;
	width:40vw;
	
	border-radius: 25px;
	
	text-align: center;
	font-size: 2vw;
	
	overflow: auto;
	
	font-family: 'Slackside One', cursive;
	background-color: rgba(0, 0, 0, 0.8);
}

#mutualsBox{
	left:5vw;
}
	
#citationBox{
	right:5vw;
}

/*Dynamic Classes*/

/*satasiteBackground.naturalHeight = 995px
satasiteBackground.naturalWidth = 1411px*/
@media (aspect-ratio <= 1411/995) {
	#satasiteBackground{
		height:100vh;
		width:auto;
	}
}

/* sataSightingCameraWidth = 704px
sataSightingCameraHeight = 480px*/
@media (aspect-ratio <= 704/480){
	#sataSightingCamera{
		height:100vh;
		width:auto;
	}
}

/*videoArchiveBackground.naturalHeight = 1034px
videoArchiveBackground.naturalWidth = 1920px*/
@media (aspect-ratio <= 1920/1034) {
	#videoArchiveBackground{
		width: auto;
		height: 100vh;
	}
	.videoLayer{
		height: 64.4165863vh;
		width: calc(64.4165863vh * 1.3333333333333333333333);
	}
}

/*Mobile classes*/
@media (aspect-ratio <= 1/1) {
  /*general*/
  #muteButton {
	height:9%;
  }
  
  #arrow{
	top:90vh;
	width:40vw;
	left: 30vw;
  }
  
  /*sataLanding*/
  .links{
	height: 8vh;
	top: 35vh;
	left:5vw;
  }
  
  .centered{
	height: 14%;
	top: 30%;
	left: 30%;
	
	transform: translate(-50%, -50%);
	-webkit-transform: translate(-50%, -50%);
  }
  
  #satasiteLogo{
	height: 14vh;
	top: 20vh;
  }
  
  .bottomCenter{
	top: 87%;
	left: 25%;
	width:auto;
	height:10vh
  }
  
  #satasiteBackground{
	right: -45vh;
  }
  
  /*sataSightings*/
  #sataSightingCamera{
	right:-15vh;  
  }
  
  #sataSonar{
	height:25vh;
  }
  
  /*sataTV*/
  #notification{
	height:4%;  
  }
  
  .container{ /*fix later*/
	left:-25vw;
  }
  
  #videoArchiveBackground{
	width:180vw;
	height:auto;
  }
  
  .videoLayer{
	height: calc(84.6vw * 0.75);
	width: 84.6vw;
	left: calc(19% - 10px);
  }
  
  .favorWidthWhenInMobileAspectRatio{
	height:calc(180vw * 0.538541667);  
  }
  
  #pikachu{
	height: 55%;
	width: auto;
	right:-40%;
  }
  
  /*sataCredits*/
  #creditsTitle{
	top: 2vh;
	left: 0vw;
	height: auto;
	width: 100vw;
  }
  
  .creditsBox{
	width: 100vw;
	height: 33vh;
	
	font-size: 4vw;
  }
  
  #mutualsBox{
	left:0vw;
	top:21vh;
  }
  
  #citationBox{
	right:0vw;
	top:56vh;
  }
}